.video__data {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  .video__title__on {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
  .video__data_descriptions {
    display: flex;
    justify-content: space-between;

    .video__data_description__two {
      font-size: 15px;
      font-weight: 600;
      a {
        margin-top: 3px;
      }
    }
  }

  hr {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

.video__add-comments {
  #commentForm {
    width: 1200px;
  }
  form {
    position: relative;
    padding: 0px;
    display: flex;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: $bg;
    .comment__avatars {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      .comment__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    input {
      all: unset;
      margin: 0;
      height: 20px;
      padding: 15px 20px;
      padding-left: 5px;
      background-color: inherit;
      font-size: 16px;
      color: white;
      width: 100%;
      &:focus {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
      }
    }
    button {
      all: unset;
    }
    button {
      position: absolute;
      right: 10px;
      font-size: 25px;
      top: 18px;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      cursor: pointer;

      :hover {
        transform: scale(1.3);
      }
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
  .video__comment {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $bg;
    color: white;
    margin-bottom: 10px;
    .fa-trash-alt {
      cursor: pointer;
      font-size: 25px;
      &:hover {
        transform: scale(1.3);
      }
    }
    .commnet_owner_avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    span {
      margin-left: 5px;
    }
  }
}

.commnet_owner {
  display: flex;
  .commnet_owner_name {
    display: flex;
    text-align: start;
    span {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
}
